body {
    height    : 100vh;
    background: #f7f7f7 !important;
}

button .iniciar-jogo {
    margin : 0 auto;
    display: block;
}

.fundo-jogo {
    display: grid;
    grid-template-areas:
        'azul amarelo'
        'vermelho verde';
    gap            : 10px;
    justify-content: center;
}

.fundo-jogo>* {
    cursor : pointer;
    height : 200px;
    width  : 200px;
    opacity: 0.3;
}

.azul {
    background            : #0275d8;
    border-top-left-radius: 100%;
    grid-area             : azul;
}

.amarelo {
    background             : #f0ad4e;
    border-top-right-radius: 100%;
    grid-area              : amarelo;
}

.vermelho {
    background               : #d9534f;
    border-bottom-left-radius: 100%;
    grid-area                : vermelho;
}

.verde {
    background                : #5cb85c;
    border-bottom-right-radius: 100%;
    grid-area                 : verde;
}

.pontuacao {
    display: none;
}